
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
  background-color: #FFF;
  box-sizing: border-box;
  color: $text;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

a {
  color: #fff;
}

a:hover {
  color: #fff;
}

a:focus, form:focus, .dropdown-item:focus {
  outline:none;
}

body {
  background-image: url(https://images.pexels.com/photos/39811/pexels-photo-39811.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-position: center center;
}

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: none;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
}

.task-add, .list-add, .btn-check, .btn-cancel {
  background-color: #fff;
  border: 0;
  border-radius: 3px;
  display: inline-block;
  opacity: 0.9;
  max-width: 24px;
  padding: 0 4px;
  text-align: center;
}

button:hover {
  cursor: pointer;
}

input[type="text"] {
  border-radius: 5px;
  border-width: 0;
  font-size: 16px;
  padding-left: 5px;
}

input[type="checkbox"] {
  height: 1rem;
  vertical-align: middle;
  width: 1rem;
}

label {
  display: inline;
  vertical-align: middle;
  font-weight: 400;
}

nav {
  z-index: 100;
}

.btn-cancel {
  color: $text;
}

.btn-check {
  color: $green;
  margin: 0 2px;

  &.task-add {
    visibility: hidden;
  }
}

.drag-icon {
  color: #636B6F;
  cursor: pointer;
  font-size: 1rem;
  position: absolute;
  right: 0;
  top: -0.6rem;
}

.dropdown-item {
  background-color: #fff;
}

.font-small {
  font-size: 12px;
}

.glist-dropdown-btn {
  color: $grey;
  display: inline;
  padding-left: 0;

  &:hover {
    color: $grey;
    text-decoration: none;
  }
}

.glist-header {
  position: relative;
}

.hidden {
  display: none;
}

.home-container {
  padding-top: 60px;
  overflow: auto;
  position: relative;
}

.is-completed {
  text-decoration: line-through;
}

.list-container {
  background-color: #ccc;
  border: 1px solid silver;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;

  @media (max-width: 575.98px) {
    width: 100%;
  }
}

.list-name {
  color: $text;
  display: inline-block;
  opacity: 0.8;
}

.lists-container {
  align-content: start;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.m-b-md {
  margin-bottom: 30px;
}

.navbar-laravel {
  background: rgba(0,0,0,.32);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  padding: 10px 16px;
  position: fixed;
  width: 100%;

  .navbar-toggler {
    color: #fff;
    border-color: #fff;
  }

  .navbar-toggler-icon {
    color: #fff;
  }
}

.nav-item {
  @media (max-width: 959.98px) {
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.nav-item > a {
  color: #fff;
  padding: 0 25px;
  font-size: 14px;
  font-weight: 200;
  letter-spacing: .1rem;
  text-decoration: none;
}

.position-ref {
  position: relative;
}

.task-container {
  max-height: 400px;
  overflow-y: auto;

  @media (max-width: 575.98px) {
    font-size: 1.1rem;
  }
}

.title {
  color: #fff;
  font-size: 84px;

  @media (max-width: 575.98px) {
    font-size: 48px;
  }
}

.true-center {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow: auto;
  position: relative;
}

#app {
  height: 100vh;
  overflow: auto;
}

#new-list-container.list-container {
  background-color: transparent;
  border-width: 0;
  padding-top: 54px;

  @media (max-width: 575.98px) {
    padding-top: 0;
    text-align: center;
  }
}