
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

// glist css

body {
  box-sizing: border-box;
}

h2 {
  font-size: 26px;
}

button:hover {
  cursor: pointer;
}

input {
  padding-left: 5px;
}

.font-small {
  font-size: 12px;
}

.hidden {
  display: none;
}

.is-completed {
  text-decoration: line-through;
}

.list-container {
  margin-bottom: 20px;
  width: 33.33%;
  min-width: 225px;
}

.lists-container {
  display: flex;
  flex-wrap: wrap;
}

.list-name {
  display: inline-block;
  opacity: 0.8;
}

.main-container {
  max-width: 1140px;
}

.side {
  display: block;
  justify-content: center;
  padding-top: 10px;
}

.task-container {
  margin-right: 5em;
  max-height: 220px;
  overflow-y: auto;
}