
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
  background-color: #FFF;
  box-sizing: border-box;
  color: $grey;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

button:hover {
  cursor: pointer;
}

form:focus, .dropdown-item:focus {
  outline:none;
}

input {
  padding-left: 5px;
}

nav {
  z-index: 100;
}

.font-small {
  font-size: 12px;
}

.full-height {
  height: 100vh;
}

.glist-dropdown-btn {
  color: $grey;
  display: inline;
  padding-left: 0;

  &:hover {
    color: $grey;
  }
}

.hidden {
  display: none;
}

.home-container {
  padding-top: 60px;
  overflow: auto;
  position: relative;
  top: -60px;
}

.is-completed {
  text-decoration: line-through;
}

.list-container {
  margin-bottom: 20px;
  padding-top: 20px;
  width: 33.33%;
  min-width: 225px;
}

.list-name {
  color: $grey;
  display: inline-block;
  opacity: 0.8;
}

.lists-container {
  align-content: start;
  display: flex;
  flex-wrap: wrap;
}

.m-b-md {
  margin-bottom: 30px;
}

.navbar-laravel {
  background-color: #FFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.nav-item > a {
  color: $grey;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
}

.position-ref {
  position: relative;
}

.side-bar {
  padding-top: 20px;

  .archived-container {
    margin-top: 45px;

    i {
      display: none;
  
      @media (max-width: 575.98px) {
        cursor: pointer;
        display: inline;
      }
    }

    @media (max-width: 575.98px) {
      margin-top: 15px;
    }
  }

  .archived-header {
    color: $grey;
    display: inline-block;
    margin-right: .255em;
    opacity: 0.8;
  }

  .archived-item {
    color: $grey;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
  }

  #archived-items {
    @media (max-width: 575.98px) {
      display: none;
    }
  }

  .sidebar-header {
    color: $lightseagreen;
  }
}

.task-container {
  margin-right: 5em;
  max-height: 400px;
  overflow-y: auto;
}

.title {
  font-size: 84px;

  @media (max-width: 575.98px) {
    font-size: 48px;
  }
}

.true-center {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow: auto;
  position: relative;
  top: -60px;
}