
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
  background-color: #FFF;
  box-sizing: border-box;
  color: #222;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

a {
  color: #fff;
}

a:hover {
  color: #fff;
}

body {
  background-image: url(https://images.pexels.com/photos/39811/pexels-photo-39811.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-position: center center;
}

button.task-add, button.list-add {
  padding: 0;
  border: 0;
  background: white;
  border-radius: 2px;
  width: 16px;
}

button:hover {
  cursor: pointer;
}

.fas {
  color: white;
}

form:focus, .dropdown-item:focus {
  outline:none;
}

input {
  border-radius: 4px;
  border-width: 0;
  padding-left: 5px;
}

label {
  font-weight: 400;
}

nav {
  z-index: 100;
}

.dropdown-menu.show {
  opacity: 1;
}

.dropdown-item {
  background-color: #fff;
}

.font-small {
  font-size: 12px;
}

.glist-dropdown-btn {
  color: $grey;
  display: inline;
  padding-left: 0;

  &:hover {
    color: $grey;
  }
}

.hidden {
  display: none;
}

.home-container {
  padding-top: 60px;
  overflow: auto;
  position: relative;
}

.is-completed {
  text-decoration: line-through;
}

.list-container {
  background-color: #ccc;
  border: 1px solid silver;
  border-radius: 10px;
  margin: 20px;
  opacity: 0.9;
  padding: 20px;
}

.list-name {
  color: #222;
  display: inline-block;
  opacity: 0.8;
}

.lists-container {
  align-content: start;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.m-b-md {
  margin-bottom: 30px;
}

.navbar-laravel {
  background: rgba(0,0,0,.32);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  padding: 0 16px;
  position: fixed;
  width: 100%;

  .navbar-toggler {
    color: #fff;
    border-color: #fff;
  }

  .navbar-toggler-icon {
    color: #fff;
  }
}

.nav-item {
  @media (max-width: 959.98px) {
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.nav-item > a {
  color: #fff;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
}

.position-ref {
  position: relative;
}

.side-bar {
  padding-top: 20px;

  .archived-container {
    margin-top: 45px;

    i {
      display: none;
  
      @media (max-width: 575.98px) {
        cursor: pointer;
        display: inline;
      }
    }

    @media (max-width: 575.98px) {
      margin-top: 15px;
    }
  }

  .archived-header {
    color: $grey;
    display: inline-block;
    margin-right: .255em;
    opacity: 0.8;
  }

  .archived-item {
    color: $grey;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
  }

  #archived-items {
    @media (max-width: 575.98px) {
      display: none;
    }
  }

  .sidebar-header {
    color: $lightseagreen;
  }
}

.task-container {
  margin-right: 5em;
  max-height: 400px;
  overflow-y: auto;
}

.title {
  color: #fff;
  font-size: 84px;

  @media (max-width: 575.98px) {
    font-size: 48px;
  }
}

.true-center {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow: auto;
  position: relative;
}

#app {
  height: 100vh;
  overflow: auto;
}

#new-list-container.list-container {
  background-color: transparent;
  border-width: 0;
  padding-top: 54px;
}